body,
main {
  display: flex;
}

body {
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 1em 0;
}

main {
  flex: auto; 
  flex-direction: row;
}

article,
aside {
  flex: 1;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

p {
  line-height: 1.5;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

img {
  max-width: 100%;
  height: auto;
}
